[submodule "CoffeeMaker"]
	path = CoffeeMaker
	url = https://github.com/aprak5/CoffeeMaker.git
	branch = main
[submodule "CovidKnapsackProject"]
	path = CovidKnapsackProject
	url = https://github.com/aprak5/CovidKnapsackProject.git
	branch = main
[submodule "NCSOProjects"]
	path = NCSOProjects
	url = https://github.com/aprak5/NCSOProjects.git
	branch = main
[submodule "BUS443WebApp"]
	path = BUS443WebApp
	url = https://github.com/aprak5/BUS443WebApp.git
	branch = main
[submodule "IBMRPAMetricsDashboard"]
	path = IBMRPAMetricsDashboard
	url = https://github.com/aprak5/IBMRPAMetricsDashboard.git
	branch = main
